<!DOCTYPE html>
<html lang="en">
<head>
<body class="red">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>DATABASE</title>
</head>
<body id="top">
    <form class="white" action="/LogoutFunc" method="POST" style="display:block;">
        <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;">Logout</button>
    </form>
    <hr>
    <h1>Database of People</h1>
    <a class="white" href="#Roles">To Roles</a>
    <hr>
    <h2 id="Hierachy">Hierachy</h2>
    <table class="center">
        <tr>
            <td>
                <p><b>Chairman:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < chairman.length; i++) { %>
                <p> <%= chairman[i] %></p>                
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>High Council Members:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < high_council.length; i++) { %>
                <p> <%= high_council[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Hounoured Members:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < honoured_members.length; i++) { %>
                <p> <%= honoured_members[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Members:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < members.length; i++) { %>
                <p> <%= members[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Caution:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < caution.length; i++) { %>
                <p> <%= caution[i] %></p>                
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Neutral</b></p>
            </td>
            <td>
            <% for (let i = 0; i < neutral.length; i++) { %>
                <p> <%= neutral[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Protesters:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < protesters.length; i++) { %>
                <p> <%= protesters[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Enemies:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < enemies.length; i++) { %>
                <p> <%= enemies[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Betrayers:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < betrayers.length; i++) { %>
                <p> <%= betrayers[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Targets</b></p>
            </td>
            <td>
            <% for (let i = 0; i < targets.length; i++) { %>
                <p> <%= targets[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>High Threat</b></p>
            </td>
            <td>
            <% for (let i = 0; i < high_threat.length; i++) { %>
                <p> <%= high_threat[i] %></p>
            <% } %>
            </td>
        </tr>
    </table>    
    <a class="white" href="#Hierachy">To Hierachy</a>
    <hr>


    <h2 id="Roles">Roles</h2>
    <table class="center">
        <tr>
            <td>
                <p><b>Junior Branch Leader</b></p>
            </td>
            <td>
            <% for (let i = 0; i < junior_branch_leader.length; i++) { %>
                <p> <%= junior_branch_leader[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Head of Act</b></p>
            </td>
            <td>
            <% for (let i = 0; i < head_of_act.length; i++) { %>
                <p> <%= head_of_act[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Head of Intelligence</b></p>
            </td>
            <td>
            <% for (let i = 0; i < head_of_intelligence.length; i++) { %>
                <p> <%= head_of_intelligence[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Head of Defence</b></p>
            </td>
            <td>
            <% for (let i = 0; i < head_of_defence.length; i++) { %>
                <p> <%= head_of_defence[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Head of Secretery</b></p>
            </td>
            <td>
            <% for (let i = 0; i < head_of_secretery.length; i++) { %>
                <p> <%= head_of_secretery[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Award Manager</b></p>
            </td>
            <td>
            <% for (let i = 0; i < award_manager.length; i++) { %>
                <p> <%= award_manager[i] %></p>
            <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Web Developer</b></p>
            </td>
            <td>
            <% for (let i = 0; i < web_developer.length; i++) { %>
                <p> <%= web_developer[i] %></p>
            <% } %>
            </td>
        </tr>
    </table>
    <hr>
    <a class="white" href="#top">Back to top</a>
</body>

<script>
    alert(`The database is now holding sensitive info. Be careful who you share this data with.`);
</script>
</body>
</html>
